.content-element {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-weight: 400;
    height: 40px;
    padding: 1.5rem 1rem;
    /*justify-content: space-between;*/
}

.content-image-container {
    display: flex;
    /*width: 25%;*/
    align-items: center;
    justify-content: center;
    /*width: 10%;*/
    padding: 0 1rem 0 0;
}

.content-image {
    /*max-width: 80%;*/
    transform: scale(0.5, 0.5);
    max-width: 150px;
    max-height: 30px;
    border-radius: 2rem;
}

.content-title {
    /*margin-left: 1rem;*/
    /*width: 75%;*/
    /*text-align: right;*/
}

.content-icon {
    font-size: 20px;
}