.content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*margin: 1rem;*/
    /*padding: 0.5rem;*/
    background-color:  #f8f9fa;
}

.container-links {
    width: 30%;
    /*border-radius: 0.5rem;*/
    /*box-shadow: 4px 4px 15px 0px rgba(34, 60, 80, 0.14);*/
    padding-left: 0.5rem;
    /*border: 1px solid #ccc;*/
}

.container-content {
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.content-list {
    border-radius: 0.5rem;
    /*box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.14);*/
    /*padding: 0.5rem 0;*/
    /*margin: 1rem 0;*/
}

.content-header {
    font-weight: bold;
    font-size: 20px;
    /*padding: 0.5rem;*/
}

.links-header {
    font-weight: bold;
    /*font-size: 20px;*/
}

.links-header-container {
    display: flex;
    align-items: center;
}

.link-main {
    display: flex;
    margin-right: 1rem;
    /*flex-direction: column;*/
    padding: 0.3rem 0;
    align-items: baseline;
}

.link-checkbox {
    margin-right: 0.5rem;
    /*height: 30px;*/
    font-size:18px;
}

.link {
    display: flex;
}

.link-description {
    font-weight: 300;
    display: flex;
}

.link-description-label {
    margin-right: 0.2rem;
}

.link-name {
    margin-right: 1rem;
    font-weight: 300;
    display: flex;
}

.link-name-label {
    padding-right: 0.2rem;
    font-weight: 300;
}

.link-icon {
    color: #56BBF1;
    padding: 0.3rem 0.2rem 0.3rem 0;
}

.link-href {
    display: flex;
}

.link-href-label {
    font-weight: 300;
    padding-right: 0.2rem;
}

.link-href-content {
    color: #4D77FF;
    font-weight: 400;
    text-decoration: underline;
}